.game-holder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    .grid-content{
        flex: 69%;
        display: flex;
        flex-wrap: wrap;
        width: 30vw;
        height: 30vw;
        text-align: center;
        .cell{
            border-style: double;
            border-color: white;
            background-color: #00B4DD;
            transition: background-color 0.5s ease-in-out;
            &:hover{
                background-color: #006177;
            }
        }
        .text{
            height: 0px;
        }
    }
    .info{
        margin-top: 5vw;
        flex: 29%;
        .score{
            margin-top: 10vw;
        }
    }
    .timer{
        flex: 100%;
    }
    .answer-area{
        flex: 100%;
    }
}